<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.meeting.mapper.EmpMapper">
	<resultMap type="Emp" id="empMap">
		<id property="empId" column="empId" />
		<result property="photo" column="photo" />
		<result property="empName" column="empName" />
		<result property="empTel" column="empTel" />
		<association property="dept" javaType="Dept">
			<id property="deptId" column="dId" />
			<result property="deptName" column="deptName" />
			<result property="deptDes" column="deptDes" />
		</association>

	</resultMap>

	<select id="getList" resultMap="empMap">
		select
		empId,photo,empName,empTel,d.deptId as dId,deptName,deptDes from
		emp e left join dept d on e.deptId = d.deptId
	</select>

	<select id="getByDeptId" resultMap="empMap">
		select
		empId,photo,empName,empTel,d.deptId as dId,deptName,deptDes from
		emp e left join dept d on e.deptId = d.deptId where d.deptId=#{deptId}
	</select>

	<select id="getById" resultMap="empMap">
		select
		empId,photo,empName,empTel,d.deptId as dId,deptName,deptDes from
		emp e left join dept d on e.deptId = d.deptId where empId=#{empId}
	</select>

	<insert id="add" parameterType="Emp">
		insert into emp
		values(null,#{photo},#{empName},#{empTel},#{dept.deptId})
	</insert>

	<update id="update" parameterType="Emp">
		update emp
		<set>
			<if test="photo != null and photo != ''">
				photo=#{photo},
			</if>
			<if test="empTel != null and empTel != ''">
				empTel=#{empTel},
			</if>
			<if test="dept.deptId != null and dept.deptId != ''">
				deptId=#{dept.deptId},
			</if>
		</set>
		where empId=#{empId}


	</update>

	<delete id="deleteById">
		delete from emp where empId=#{empId}
	</delete>

	<delete id="deleteByIds">
		delete from emp where empId in
		<foreach collection="collection" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>

</mapper>
  
  