<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.meeting.mapper.UserMapper">
	<!-- 通过用户名查找用户 -->
	<select id="getByUserName" resultType="User">
		select * from user where
		userLoginName = #{userLoginName}
	</select>

	<!-- 查找所用用户 -->
	<select id="getList" resultType="User">
		select * from user
	</select>

	<!-- 新增用户 -->
	<insert id="add" parameterType="User" keyProperty="userId" useGeneratedKeys="true">
		insert into user
		values(null,#{userLoginName},#{telNum},#{password},#{photo},#{userRealName},#{delegationId})
	</insert>

	<!-- 修改用户 -->
	<update id="update" parameterType="User" keyProperty="userId">
		update user
		<set>
			<if test="userLoginName != null and userLoginName !=''">
				userLoginName=#{userLoginName},
			</if>
			<if test="telNum != null and telNum !=''">
				telNum=#{telNum},
			</if>
			<if test="password != null and password !=''">
				password=#{password},
			</if>
			<if test="photo != null and photo !=''">
				photo=#{photo},
			</if>
			<if test="userRealName != null and userRealName !=''">
				userRealName=#{userRealName},
			</if>
			<if test="delegationId= != null and delegationId= !=''">
				delegationId=#{delegation}
			</if>
			where userId = #{userId}
		</set>
	</update>

	<!-- 删除用户 -->
	<delete id="deleteById" >
		delete from user where userId = #{userId}
	</delete>

	<!-- 通过id查找用户 -->
	<select id="getById" resultType="User">
		select * from user where userId
		= #{userId}
	</select>
	
	<!-- 批量删除用户 -->
	<delete id="deleteByIds">
		delete from user where userId in
		<foreach collection="collection" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</delete>
	

</mapper>